
.sensitive-content-overlay-wrapper {
	position: absolute;
	inset: 0;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	padding: 0.5em;
	overflow: hidden;
	z-index: 20;
}

.sensitive-content-icon {
	width: 3em;
	height: 3em;
	min-width: 2.5em;
	min-height: 2.5em;
	background-image: url( icon.png );
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
}

.sensitive-content-text {
	font-size: 1em;
	margin-bottom: 1.2em;
	max-width: 90%;
}

.sensitive-content-buttons {
	display: flex;
	gap: 0.8em;
	align-items: center; /* Ensure buttons are aligned vertically */
}

.sensitive-content-button-learn,
.sensitive-content-button-show {
	padding: 0.6em 1em;
	text-decoration: none;
	border-radius: 5px;
	font-size: 0.9em;
	font-weight: 500;
	border: 1px solid transparent;
}

.sensitive-content-button-learn {
	background-color: #fff;
	color: #333;
	border-color: #ccc;
}
.sensitive-content-button-learn:hover {
	background-color: #f0f0f0;
}


.sensitive-content-button-show {
	background-color: #36c;
	color: white;
}
.sensitive-content-button-show:hover {
	background-color: #447ff5;
}


/* Hide the original media when overlay exists */
.hs-processed img,
.hs-processed video {
	opacity: 0;
}

/* Klikalność tylko na przyciskach */
.sensitive-content-button-show {
	cursor: pointer;
}
