
.sensitive-content-overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	padding: 1em;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.sensitive-content-icon {
	font-size: 60px;
	margin-bottom: 1em;
	flex-shrink: 0;
}

.sensitive-content-text {
	font-size: 1em;
	margin-bottom: 1.2em;
	max-width: 90%;
}

.sensitive-content-buttons {
	display: flex;
	gap: 0.8em;
	align-items: center; /* Ensure buttons are aligned vertically */
}

.sensitive-content-button-learn,
.sensitive-content-button-show {
	padding: 0.6em 1em;
	text-decoration: none;
	border-radius: 5px;
	font-size: 0.9em;
	font-weight: 500;
	transition: background-color 0.2s, color 0.2s;
	border: 1px solid transparent;
}

.sensitive-content-button-learn {
	background-color: #fff;
	color: #333;
	border-color: #ccc;
}
.sensitive-content-button-learn:hover {
	background-color: #f0f0f0;
}


.sensitive-content-button-show {
	background-color: #36c;
	color: white;
}
.sensitive-content-button-show:hover {
	background-color: #447ff5;
}


/* Responsive behavior for small containers */
/* When the container is less than 200px wide, hide details */
.sensitive-content-overlay-wrapper:not(:hover) {
	font-size: 1rem; /* Base font size for calculations */
}

@media (max-width: 200px), (max-height: 200px) {
	.sensitive-content-overlay-wrapper:not(:hover) .sensitive-content-text,
	.sensitive-content-overlay-wrapper:not(:hover) .sensitive-content-buttons {
		display: none;
	}

	.sensitive-content-overlay-wrapper:not(:hover) .sensitive-content-icon {
		margin-bottom: 0;
		width: 2.5em; /* Make icon a bit smaller */
		height: 2.5em;
	}
	
	.sensitive-content-overlay-wrapper:hover {
		background-color: rgba(245, 245, 245, 0.98);
	}
}

/* Hide the original media */
[data-sensitive='true'] .thumbimage,
[data-sensitive='true'] > img,
[data-sensitive='true'] > video {
    visibility: hidden;
}

/* Ensure wrapper has a relative position if it's a thumb */
.thumb[data-sensitive='true'] {
	position: relative;
}
/* Ensure wrapper has a relative position if it's a thumb */
